/node_modules
/public/storage
/public/css
/public/js
/public/hot
/.idea
Homestead.json
Homestead.yaml
.env
/storage/*.key
.DS_Store
Envoy.blade.php
/vendor
/public/mix-manifest.json
public/mix-manifest.json
public/mix-manifest.json
public/mix-manifest.json
/laravel-echo-server.json
/.phpstorm.meta.php
/_ide_helper.php
/composer.lock
