.icon-inwehub {
  width: 1em; height: 1em;
  vertical-align: -0.17em;
  fill: currentColor;
  overflow: hidden;
}


.rotate-180{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.v-content-inwehub{
  padding-top: 44px;
}

.isWechat .v-content-inwehub{
  padding-top: 0 !important;
}

.flex-space .icon-inwehub{
  font-size:17px;
  position: relative;
  top: 3px;
  color:#b4b4b6;

  &.shoucang{
    top: 0px;
    margin-left: 8px;
  }
}

.go-yellow{
  color:#03aef9 !important;
}

.no-more-to-load h3{
  font-size:12px;
  color:#c8c8c8;
}

.commentNum{
  font-size: 12px;
  margin-left: 3px;
  color: #808080;
  position: relative;
  top: 2px;
}

.home-wrapper-h5{
  margin-top:44px;
}

.menu-inwehub-menu{
  right:-6px;
  left:auto;
  background:#585858 !important;
  margin-top:0px !important;
  padding:7px 0;

  .item{
    color:#ffffff !important;
    font-size:14px !important;
    font-weight:normal !important;
  }



  &:after{
    box-shadow:none !important;
    -webkit-box-shadow: none !important;
    background:#585858 !important;
    width:.8em !important;
    height:.8em !important;
    top: -0.3em !important;
  }
}


.v-content-inwehub .link-list-info a{
  font-weight: normal;
  color:#444;
}

