.icon-inwehub {
  width: 1em; height: 1em;
  vertical-align: -0.17em;
  fill: currentColor;
  overflow: hidden;
}


.rotate-180{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.v-content-inwehub{
  padding-top: 44px;
}

.isWechat .v-content-inwehub{
  padding-top: 0 !important;
}

.flex-space .icon-inwehub{
  font-size:17px;
  position: relative;
  top: 3px;
  color:#808080;
}

.go-yellow{
  color:#03aef9 !important;
}

.no-more-to-load h3{
  font-size:12px;
  color:#c8c8c8;
}

.commentNum{
  font-size: 12px;
  margin-left: 3px;
  color: #808080;
  position: relative;
  top: 5px;
}

.home-wrapper-h5{
  margin-top:44px;
}

.menu-inwehub-menu{
  background:#585858 !important;
  margin-top:0px !important;
  padding:7px 0;

  .item{
    color:#ffffff !important;
    font-size:14px !important;
    font-weight:normal !important;
  }

  &:after{
    box-shadow:none !important;
    -webkit-box-shadow: none !important;
    background:#585858 !important;

  }
}


.v-content-inwehub .link-list-info a{
  font-weight: normal;
  color:#444;
}



.list-hot  article:nth-child(0){
    .submission-img-title h3{

        &:before{

        }
    }
}

.home-wrapper-h5 {
    .rotate-180{
      display: none;
    }
}



.h5-active-item{
  display: inline-block;
  text-align: center;

  .icon-gengduo{
    margin-left:13px;
  }

  .icon-pinglun1{
    top:5px;
  }


  .icon-dianzan1{
    top:6px;
  }

  .rotate-180{
    top: 7px;
    left: -20px;
  }

  .ui.pointing.dropdown > .menu:after{
    left:35% !important;
  }
}


.v-content-wrapper-h5{
  .tabs ul{
    margin:0 !important;
    background: #f3f4f6;
    border:none;
  }

  .tabs li.is-active a{
    border:none;
    position: relative;
    &:after{
      position: absolute;
      bottom: 1px;
      width:26px;
      left: 50%;
      margin-left:-13px;
      height: 2px;
      content: '';
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      background-color: #03aef9;
      z-index: 7777;
    }
  }

  .tabs li a{
    color:#444 !important;
    font-weight: normal !important;
    font-size:14px !important;

  }

  .tabs li.is-active a{
    color:#03aef9 !important;
  }

  .tabs a{
    border:none;
  }

  a.nav-item{
    color:#444;
    font-size:14px !important;

  }
  .nav.has-shadow{
    border:none;
    position: relative;
    &:after{
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      height: 2px;
      content: '';
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      background-color: #dcdcdc;
    }

  }

  .nav.has-shadow{
    color:#444 !important;
  }

  a.nav-item.is-tab.is-active{
    color:#3c95f9;
    border:none;
    position: relative;
    font-weight: normal;
    &:after{
      position: absolute;
      bottom: 2px;
      width:26px;
      left: 50%;
      margin-left:-13px;
      height: 2px;
      content: '';
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      background-color: #03aef9;
      z-index: 7777;
    }
  }
}