.icon-inwehub {
  width: 1em; height: 1em;
  vertical-align: -0.17em;
  fill: currentColor;
  overflow: hidden;
}


.rotate-180{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.v-content-inwehub{
  padding-top: 44px;
}

.isWechat .v-content-inwehub{
  padding-top: 0 !important;
}

.flex-space .icon-inwehub{
  font-size:17px;
  position: relative;
  top: 3px;
  color:#808080;
}

.go-yellow{
  color:#03aef9 !important;
}

.no-more-to-load h3{
  font-size:12px;
  color:#c8c8c8;
}

.commentNum{
  font-size: 12px;
  margin-left: 3px;
  color: #808080;
  position: relative;
  top: 5px;
}

.home-wrapper-h5{
  margin-top:44px;
}

.menu-inwehub-menu{
  background:#585858 !important;
  margin-top:0px !important;
  padding:7px 0;

  .item{
    color:#ffffff !important;
    font-size:14px !important;
    font-weight:normal !important;
  }

  &:after{
    box-shadow:none !important;
    -webkit-box-shadow: none !important;
    background:#585858 !important;

  }
}


.v-content-inwehub .link-list-info a{
  font-weight: normal;
  color:#444;
}



.list-hot  article:nth-child(0){
    .submission-img-title h3{

        &:before{

        }
    }
}

.home-wrapper-h5 {
    .rotate-180{
      display: none;
    }
}



.h5-active-item{
  display: inline-block;
  text-align: center;

  .icon-gengduo{
    margin-left:13px;
  }

  .icon-pinglun1{
    top:5px;
  }


  .icon-dianzan1{
    top: 3px;
  }

  .rotate-180{
    top: 7px;
    left: -20px;
  }

  .ui.pointing.dropdown > .menu:after{
    left:20px !important;
  }
}


.v-content-wrapper-h5{

  h2{
    font-size:1.5em;
  }

  h1{
    font-size:1.5em;
    font-weight: 400;
    line-height: 1.4;
    margin: .67em 0;
  }


  #new-submission .multiselect__tags{
    border:1px solid rgba(0, 0, 0, .2);
    margin-bottom:0;
    padding-top:0;

    input{
      border:none;
      margin-bottom:0;
    }
  }

  #new-submission .multiselect__select{
      top:2px;
  }

  .submission-title{
    font-size:18px;
  }

  .tabs ul{
    margin:0 !important;
    background: #f3f4f6;
    border:none;
  }

  .tabs li.is-active a{
    border:none;
    position: relative;
    &:after{
      position: absolute;
      bottom: 1px;
      width:26px;
      left: 50%;
      margin-left:-13px;
      height: 2px;
      content: '';
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      background-color: #03aef9;
      z-index: 7777;
    }
  }

  .tabs li a{
    color:#444 !important;
    font-weight: normal !important;
    font-size:14px !important;

  }

  .tabs li.is-active a{
    color:#03aef9 !important;
  }

  .tabs a{
    border:none;
    padding: 11px 12px;
  }

  a.nav-item{
    color:#444;
    font-size:14px !important;

  }
  .nav.has-shadow{
    border:none;
    position: relative;
    &:after{
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      height: 2px;
      content: '';
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      background-color: #dcdcdc;
    }

  }

  .nav.has-shadow{
    color:#444 !important;
  }

  a.nav-item.is-tab.is-active{
    color:#3c95f9;
    border:none;
    position: relative;
    font-weight: normal;
    &:after{
      position: absolute;
      bottom: 2px;
      width:26px;
      left: 50%;
      margin-left:-13px;
      height: 2px;
      content: '';
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      background-color: #03aef9;
      z-index: 7777;
    }
  }

  .profile-avatar img{
    width:69px;
    height:69px;
  }

  .category-header-left{
    -ms-flex-preferred-size: 73px;
    flex-basis: 73px;
  }

  .category-header-middle{
    padding-left:0;
  }

  .profile-cover .container{
    padding-top:10px !important;
    padding-bottom:10px !important;
  }
  .category-header-right{
    margin-top:1em !important;
  }
  .profile-cover{
    min-height: 0 !important;
  }

  .nav.has-shadow{
    margin-bottom:0;
  }

  .left-sidebar-box{
    margin-top:1%;
  }

  .no-content-wrapper .icon-inwehub{
    font-size:48px;
  }

  .no-content-wrapper h1{
    font-size:14px;
  }

  .no-subsciption .icon-inwehub{
    font-size:48px;
  }

  .no-subsciption h1{
    font-size:14px;
  }

  .ui.comments > div{
    border-top:0 !important;
    border-bottom:1px solid #dcdcdc;
  }

  section.container{
   padding:0 !important;
  }

  section.margin-top-1{
    margin-top:0 !important;
  }

  .nav-left{
    justify-content: space-between !important;
  }

  .statistics-inwehub{
    position: relative;
    transform: scale(0.5);
    margin:-12px -105px;
    text-align: left;


    span{
      display: inline-block;
      font-size:26px;

      b{
        color:#fa4975;
        font-weight: normal;
      }
    }
    .title{
      background:#ececee;
      color:#808080;
      text-align: center;
      width:100px;
      height:60px;
      line-height: 60px;
      border-radius:8px 0 0 8px;
    }

    .content{
      position: absolute;
      height:60px;
      left:100px;
      right:0;
      display: inline-block;
      border:1px solid #dcdcdc;
      border-radius: 0 8px 8px 0;
      border-left:0;
      line-height: 60px;
      color:#fff;

      .split{
        width:1px;
        height:23px;
        background: #dcdcdc;
        position: relative;
        top: 2px;
      }

      .two{
        width:45%;
        text-align: center;
      }


    }


  }

  #new-submission{
    padding:1em !important;

    .btn-input{
      top: -4px;
      right: -3px;
      padding:6px 12px !important;
    }
  }

  .detail{
    color:inherit !important;
    top:3px !important;
    font-size:12px !important;
  }

  .category-header-middle h2{
    font-size:16px !important;
  }

  .category-header-middle{
    margin-bottom:6px;
  }

  .profile-cover{
    padding-bottom:0 !important;
  }

  .profile-avatar img{
    border:none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .voting-wrapper .detail{
    top:0 !important;
    left:0;
  }

  .box-typical .box-typical-header-sm{
    font-weight:normal;
    color:#444;
  }

  .submission-title{
    font-weight:normal;
    color:#444;

  }

  .col-full .link-list-info{
    padding:1em !important;
  }

  .markdown{
    color:#808080;
  }

  .ui.comments .comment .metadata{
    color:#808080;
  }
  .ui.comments .comment .author{
    color:#444;
  }
  .submission-header .username{
    color:#444;
  }
  .submission-header .date{
    color:#808080;
  }

  a.nav-item.is-tab:hover{
     border:none !important;
  }

  .go-gray{
    color:#808080 !important;
  }

  .go-primary {
    color: #03aef9 !important;
  }

  .fond{
    padding-top:10% !important;
  }

  .webviewTool{
    height:44px;
    overflow: hidden;
    background:#f3f4f6;
    padding:0 20px 0 0;
    border-bottom:none !important;



    .flex-space{
      width:100%;

      .icon-inwehub{
        top:3px !important;
      }
    }


    .comments-icon{
      margin-left:0;
    }


    .h5-active-item .icon-pinglun1{
      top:3px;
    }

    .commentNum{
      top:2px;
    }

    .bookmarkButton a{
      position: relative;
      top: -1px;
    }

    .dianzanBtn a{
      position: relative;
      top: -1px;
    }

    .detail{
      top:2px !important;
    }
  }


}

.isWebview{
   header{
     display: none;
   }

  .v-content-inwehub{
    padding-top:0;
  }
}

.commentBtn{
  background:#03aef9;
  color:#fff;
  width: 146px;
  height: 44px;
}

.commentBtn a{
  color:#fff !important;
  margin-top:12px;

  .icon-inwehub{
    margin-right:5px;
    color:#fff;
  }
}

.v-content-wrapper-guest .v-bookmark{
    margin-left:12px;
}

.guest-app  header .back{
  display: none;
}

.header-inwehub .shareBtn{
  position:absolute;
  top:5px;
  right:10px;
  color:#fff;
  font-size: 24px;
}

.shareWrapper {
  z-index:1000;

  .title {
    background: #ececee;
    text-align: center;
    font-size: 14px;
    padding: 12px 0;
  }
  .more {
    background: #fff;
    padding: 10px;
    .single {
      width: 55px;
      height: 55px;
      margin: 0 10px;
      display: inline-block;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}



#shareShowWrapper {
  position: absolute;
  right: 0;
  top: 0;
  .icon {
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 70px;
  }
}


.mui-bar{
  background-color: #3c3e44 !important;
}

.mui-title{
  color:#fff !important;
  line-height:44px !important;
  font-size:18px !important;
}

.mui-bar a{
  color:#fff !important;
}


.categoryMenu{
  position: fixed;
  z-index:8;
  top:44px;
  padding:10px 0 15px;
  background: #fff;

  .item{
     display: inline-block;
     width:20%;
     font-size:13px;
     color:#808080;
     text-align: center;

     .icon-inwehub{
        font-size:41px;
        color:#fcc916;
       width:100%;
       margin-bottom: 8px;
     }
  }
}

.v-content-inwehub-list{
  padding-top:227px;
}

.listBanner{
  position: fixed;
  width: 100%;
  padding: 9px 0;
  background: #f3f4f6;
  height: 93px;
  top: 133px;
  z-index:8;
  overflow: hidden;

  img{
    width:160px;
    height:74px;
  }

}

.swiper-slide {
  width: 160px !important;
  float: left;
}
.swiper-container{
  width:100%;
  height:74px;
  overflow: hidden;
}