.header-inwehub {
  background-color: #3c3e44;
  box-shadow: none ;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;



  a.back{
    position: absolute;
    top:9px;

    .icon-inwehub{
      font-size: 24px;
      color:#fff;
    }
  }

  .title{
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top:9px;
    font-weight: 500;
  }

  .flex-display{
    position: absolute;
    right:0;
    top:6px;

    #messages-btn{
      position: relative;
      right:6px;
    }

    .head-notification-icons i{
      color:#fff !important;
    }
  }
}

.isWechat .header-inwehub{
  display: none;
}
